.container {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.mainContent {
  flex: 1;
  overflow-y: auto;
  background: #fff;
}

.copyButton {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}