.container {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.mainContent {
  flex: 1;
  overflow-y: auto;
  background: #fff;
}

.copyButton {
  position: absolute;
  right: 250px;
  top: 30px;
  padding: 10px;
  cursor: pointer;
}